### Variables

In [2]:
## Declaring and assigning variables

age=18
height=5.2
name="Janahvi"
is_student=True

## printing the varibles

print("Age:",age)
print("Height:",height)
print("Name:",name)

Age: 18
Height: 5.2
Name: Janahvi

In [4]:
## Naming Convention
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letters, numbers and underscores
## variables names case sensitive

# valid variable names

first_name="Janahvi"
last_name="Singh"

In [7]:
# invalid variable names

## 2age=30
## first-name="janahvi"
## @name="amit"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3801368542.py, line 5)

In [8]:
## case sensitivity
name="Amit"
Name="Singh"
name==Name

False

In [11]:
## Undestanding Variable types
## Python is dynamically typed, type of a variable is determined at runtime.
age=25
height=5.2
name="Janahvi Singh"
is_student=True

print(type(age))
print(type(height))
print(type(is_student))
print(type(name))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [13]:
## Type checking and conversion

type(height)

float

In [15]:
print(type(age))

<class 'int'>

In [16]:
# Type conversion

age_str=str(age)
print(age_str)
print(type(age_str))

25
<class 'str'>

In [18]:
age='25'
type(age)

str

In [19]:
print(type(int(age)))

<class 'int'>

In [20]:
type(int(age))

int

In [21]:
name='Janahvi'
int(name)

ValueError: invalid literal for int() with base 10: 'Janahvi'

In [22]:
height=5.2
type(height)

float

In [23]:
int(height)

5

In [25]:
print(height)
print(int(height))

5.2
5

In [27]:
print(float(height))
print(float(int(height)))

5.2
5.0

In [30]:
## Dynamic typing
## python allows the type of a variable to change as the program executes

var=10
print(var, type(var))

var="Janahvi"
print(var, type(var))

var=3.14
print(var, type(var))

print(var)

10 <class 'int'>
Janahvi <class 'str'>
3.14 <class 'float'>
3.14

In [37]:
#input

age=input("Age:")
print(age,type(age) )

24 <class 'str'>

In [38]:
print(age, type(age))

24 <class 'str'>

In [41]:
## Simple calculator

num1=float(input("Enter 1st number:"))
num2=float(input("Enter 2nd number:"))
sum=num1+num2
difference=num1-num2
product=num1*num2
quotient=num1/num2

print(num1)
print(num2)
print("Sum=", sum)
print("Difference", difference)
print("Product=", product)
print("Quotient=", quotient)

4.0
2.0
Sum= 6.0
Difference 2.0
Product= 8.0
Quotient= 2.0