## Introduction to tuples

Explaination:

Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [1]:
## Creating a tuple

empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
number=tuple([1,2,3,4,5,6])
number

(1, 2, 3, 4, 5, 6)

In [5]:
list((1,2,3,4,5,6))
list

list

In [6]:
mixed_tuple=(1,False, "happy",3.14)
mixed_tuple

(1, False, 'happy', 3.14)

In [8]:
## Accesssing tuple elements

print(number)
number[0]

(1, 2, 3, 4, 5, 6)

1

In [9]:
number[2]

3

In [10]:
print(number[-1])

6

In [13]:
number[0:5]

(1, 2, 3, 4, 5)

In [14]:
number[::2]

(1, 3, 5)

In [17]:
## Tuples operations

concatenation_tuple=number+mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, False, 'happy', 3.14)

In [18]:
mixed_tuple*3

(1, False, 'happy', 3.14, 1, False, 'happy', 3.14, 1, False, 'happy', 3.14)

In [19]:
number*4

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [20]:
## immutable nature or tuple
## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
lst[1]="no"

In [21]:
number[1]="no"  ##TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [27]:
## Tuple method
print(number.count(1))  #counts the number of times the element is present
print(number.index(4))  #displays the position of element in the tuple

1
3

In [28]:
number

(1, 2, 3, 4, 5, 6)

In [29]:
## Packing and unpacking of tuple

packed_tuple=1, "hello", 3.14
print(packed_tuple)

(1, 'hello', 3.14)

In [30]:
## Unpacking a tuple

a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
hello
3.14

In [32]:
## Unpacking with *

numbers=(2,4,5,6,8,12)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

2
[4, 5, 6, 8]
12

In [33]:
## Nested tuple (tuple inside a tuple)
list=[[1,2,3,4],(1,"hello",3.14,"hahaha"),[2,4,6,8]]
list[0]

[1, 2, 3, 4]

In [35]:
list[0][3]

4

In [36]:
list[0][0:3]

[1, 2, 3]

In [37]:
list[2]

[2, 4, 6, 8]

In [39]:
list[1][2]

3.14

In [40]:
nested_tuple=((1,2,3),("a","b","c"),("True", False))

## Access the elements in a tuple

print(nested_tuple)

((1, 2, 3), ('a', 'b', 'c'), ('True', False))

In [44]:
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [50]:
# iterating over nested tuples

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item)
    print()

1
2
3

a
b
c

True
False

In [52]:
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
    print()

1 2 3
a b c
True False

## CONCLUSION

Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data strutures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readbility of your python code.